@import './../styles/components/responsive';

.layout {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  background-color: #EFF6FC;
  padding: 0 1rem 1rem 0;
  .header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    color: #2e2e2e;
    padding: 1.5rem 0;
    width: 100%;

    button {
      box-shadow: none;
    }

    .logo {
      column-gap: 0.5rem;
      font-size: 14px;
    }

    a {
      color: #53565c;
      b {
        color: var(--black);
      }
    }

    a[class='active'] {
      font-weight: bold;
      padding: 2px 8px;
      background: #0f0f0f;
      border-radius: 999px;
      color: var(--white);
    }

    button {
      border: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      height: 36px;
      padding: 0 1rem;
      color: var(--white);
      width: fit-content;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      background: var(--black);
      box-shadow: inset -6.21875px 1.16602px 7.50137px rgba(0, 0, 0, 0.25);
      filter: brightness(1.2);
      border-radius: 999px;
      cursor: pointer;
      font-size: 16px;

      @include small-down() {
        &:after {
          content: 'Connect';
        }
      }

      &:hover {
        filter: brightness(1.4);
      }
    }

    .connect-button,
    .network {
      transition: background-color 250ms ease 0s, filter 250ms ease 0s;
    }

    .left-side {
      column-gap: 2.5rem;
    }

    ul.nav {
      column-gap: 1rem;
      li {
        a {
          line-height: 0;
          padding: 2px 8px;
        }
      }
      @include small-down() {
        display: none;
      }
    }

    ul.mini-nav {
      background-color: #f4f4f4;
      column-gap: 1rem;
      @include medium-up() {
        display: none;
      }
    }
  }

  > main {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-grow: 1;
    flex: 1;
    height: 100%;
    background-color: var(--white);
    border-radius: var(--global-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
    padding: 2.5rem;

    header {
      padding: 1rem 0;

      span {
        font-size: 1.3rem;
        font-weight: bold;
      }

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
          display: flex;
          align-items: center;
          column-gap: 1rem;
        }
      }

      figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        border-radius: 999px;

        figcaption {
        }

        img {
          --width: 40px;
          width: var(--width);
          height: var(--width);
          border: 1px solid #ddd;
          border-radius: inherit;
        }
      }
    }

    main {
      flex: 1;
      width: 100%;
    }
  }

  nav {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-grow: 1;
    padding: 2rem;
    width: 17vw;
    max-width: 300px;

    .nav__top {
      row-gap: 4rem;

      ul {
        row-gap: 0.1rem;
        li {
          a {
            color: #98989c;
            padding: 0.5rem 0;
            column-gap: 0.7rem;

            font-size: 14px;
            line-height: 20px;
            font-weight: 600;

            span {
              font-size: 1.6em;
            }
          }
        }
      }
    }

    ul.nav__bottom {
      row-gap: 0.1rem;
      li {
        a {
          color: #98989c;
          font-weight: 400;
        }
      }
    }
  }

  > header,
  > main {
    width: 100%;
  }

  nav,
  > div {
    min-height: inherit;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.logo {
  figure {
    column-gap: 0.8rem;

    img {
      width: 40px;
    }

    figcaption {
      font-size: 1.5em;
    }
  }
}

.profile {
  --tile-shadow-hover: 0 0 2px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
  background-color: var(--white);
  height: 37px;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: var(--global-border-radius);
  column-gap: 0.5rem;
  cursor: pointer;

  &__wallet {
    column-gap: 0.5rem;
    background-color: #f1f1f1;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    border-radius: inherit;
  }

  &:active {
    transform: scale(0.94);
  }

  &:hover {
    box-shadow: var(--tile-shadow-hover);
    ul {
      visibility: visible;
    }
    img {
      filter: brightness(1.4);
    }
  }

  img {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    background-color: var(--white);
  }

  ul {
    visibility: hidden;
    background-color: var(--white);
    position: absolute;
    top: 85%;
    min-width: 200px;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    &:hover {
      visibility: visible;
    }

    li {
      &:hover {
        &:not(&:first-child) {
          background-color: var(--black-025);
          cursor: pointer;
        }
      }

      &:first-child {
        column-gap: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      }

      &:last-child {
        color: var(--red);
      }
    }

    figure {
      width: 60px;
      height: 60px;

      img {
        border-radius: 999px;
      }
    }
  }
}
